.custom-hover:hover {
    color: #FF2C2C;
}
.container {
    .box-contain {
        border: 1px solid #ddd;
        padding: 20px 60px;
        height: max-content;

        .custom-select {
            width: 55%;
        }
        .comm-area {
            height: 80px;
        }
        .btn {
            width: 25%;
        }
    }
    .social-fixed {
        position: fixed;
        left: 95%;
        top: 75%;

        img {
            display: block;
            margin: 8px 0;
        }
    }
}
// media query for tablet devices
@media screen and (max-width: 1030px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 97%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 1000px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 98%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 1030px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 97%;
            top: 75%;
        }
    }
}
//
@media screen and (max-width: 991.33px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 87%;
            top: 75%;
    
            img {
                display: block;
                margin: 8px 0;
            }
        }
    }
}
// 
@media screen and (max-width: 940px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 89%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 890px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 91%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 845.33px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 93%;
            top: 70%;
        }
    }
}
// 
@media screen and (max-width: 805.33px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 95%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 768px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 97%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 765.33px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 86%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 715px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 89%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 660.33px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 92%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 667.33px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 92%;
            top: 70%;
        }
    }
}
// 
@media screen and (max-width: 614px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 94%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 582px) {
    .container {
        .social-fixed {
            position: fixed;
            left: 96%;
            top: 75%;
        }
    }
}
// 
@media screen and (max-width: 575.33px) {
    .container {
        .social-fixed {
            position: relative;
            right: 0;
            left: 70%;
            margin-top: 10px;
            
            img {
                display: inline-block;
                margin: auto 5px;
            }
        }
    }
}